@import url("../../fonts/dos/dos.scss");


.dos-text{
    width: fit-content;
    font-family: "DOS";
    color:white;
    font-size: 1em;
    span{
				display: inline;
        font-family: "DOS";
        font-size: .8em;
        white-space: pre-wrap;
				&.dos-\`{
					opacity: .6;
					&::before{
						content: '"';
					}
					&::after{
						content: '"';
					}
				}
				&.dos-\*{
					opacity: 1;
					font-style: italic;
				}
				&.dos-\*\*{
					opacity: 1;
				}
    }

    h2{
        font-size: 1.3em;
        font-weight: 300;
        margin: 0;

    }

    h3{
        font-size: 1.1em;
        font-weight: 300;
        margin: 0;
    }
}