@import url("../../fonts/dos/dos.scss");


.dos-current-line{
    position: relative;
    display: flex;
    font-family: "DOS";
    color: white;
    font-size: 2vw;
    gap:2px;
    white-space: pre-wrap;
		width: fit-content;
    .blinker{
        position: absolute;
        right:-.56rem;
        @keyframes blink {
            0%{
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
        animation: blink 750ms infinite step-end;
    }
}