@import url("../assets/fonts/dos/dos.scss");
div.dos-command-page{
    width: 95vw;
    height: 100vh;
		padding-left: .5vw;
    display: flex;
    align-items: flex-start;
    overflow: auto;
		scrollbar-width: none; /* Firefox 64 */
		-ms-overflow-style: none; /* IE 11 */
    &::-webkit-scrollbar{
        display: none;
    }

    .dos-command-container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: .07em;
        white-space: pre-wrap;
    }
    .dos-image{
			width: 70%;
			height: 58vh;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			outline: .08em solid white;
		}
}