@import url("../assets/fonts/dos/dos.scss");
div.dos-command-page{
    width: 95vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    overflow: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    .dos-command-container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap:5px;
        white-space: pre-wrap;
    }
    
}